# Hospital Accident and Emergency Activity, 2016-17
Publication date: 09:30 October 17, 2017

https://digital.nhs.uk/catalogue/PUB30112

This is a publication on Accident and Emergency (A&E) activity in English NHS hospitals and English NHS-commissioned activity in the independent sector.

## Problem:
The reporting from the NHS digital team is in depth but these publications doesnt seem to be interactive and dont allow the general public to explore the data.

Aim to add the following functionality by using several libraries in Python:
* Interactive charting with the use of plotly
* Filters to slice and dice the data
* Autocomplete for text filters

# Setting Up

In [88]:
import pandas as pd

import pd_datareader_nhs.nhs_digital_ods as ods

In [90]:
url = 'https://digital.nhs.uk/media/33253/Hospital-Accident-and-Emergency-Activity-2008-09-Provider-Level-Analysis/default/acci-emer-atte-eng-2008-09-pla'
AE_by_gender = pd.read_excel(url, sheet_name='Table_1', skiprows=5, header=1, names=("code", "provider_desc", "male", "female", "unkown", "total"))

# Clean up data by removing NaN
AE_by_gender = AE_by_gender[~AE_by_gender["code"].isna()]
AE_by_gender["date"] = '2008-09' # date range based on NHS fincial year ending on the 31 March each year.
AE_by_gender.head()

,code,provider_desc,male,female,unkown,total,date
0,All,ENGLAND,10210937,10462262,213212,20886411,2008-09
2,Y54,North Of England,3152003,3272078,150690,6574771,2008-09
3,Y55,Midlands And East Of England,2697939,2734073,2425,5434437,2008-09
4,Y56,London,1947476,2038738,58020,4044234,2008-09
5,Y57,South Of England,2413519,2417373,2077,4832969,2008-09

In [ ]:
url = 'https://digital.nhs.uk/media/33253/Hospital-Accident-and-Emergency-Activity-2016-17-Provider-Level-Analysis/default/acci-emer-atte-eng-2008-09-pla'
AE_by_gender = pd.read_excel(url, sheet_name='Table_1', skiprows=5, header=1, names=("code", "provider_desc", "male", "female", "unkown", "total"))

# Clean up data by removing NaN
AE_by_gender = AE_by_gender[~AE_by_gender["code"].isna()]
AE_by_gender["date"] = '2008-09' # date range based on NHS fincial year ending on the 31 March each year.
AE_by_gender.head()

## Transform data

Set level of detail between hospitals region and total.

In [83]:
AE_by_gender = AE_by_gender[~AE_by_gender["code"].isin(["All", "Y54", "Y55", "Y56", "Y57"])]
AE_by_gender.head()

,code,provider_desc,male,female,unkown,total
7,REM,Aintree University Hospital NHS Foundation Trust,75516,88374,7,163897
8,RCF,Airedale NHS Foundation Trust,27921,28899,39,56859
9,RBS,Alder Hey Children's NHS Foundation Trust,31764,26486,1,58251
10,RTK,Ashford And St Peter's Hospitals NHS Foundatio...,48978,50609,3,99590
11,NQT10,Assura Reading LLP,17046,22565,86,39697

Upivot data